*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}

.container{
   display: grid; 
   height: 100vh;
   grid-template-columns: 1fr 1fr 1fr 1fr; /*number of column*/
   grid-template-rows: 0.4fr 1.5fr 1.3fr 0.8fr; 
}