*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}

.container{
   display: grid; 
   height: 100vh;
   grid-template-columns: 1fr 1fr 1fr 1fr; /*number of column*/
   grid-template-rows: 0.4fr 1.5fr 1.3fr 0.8fr; 
   color:white;
   /* column row define */
   grid-template-areas: "navbar navbar navbar mavbar";
}

nav{
    background: #16a085;
}
main{
    background:#27ae60;
}
.Sidebar{
    background:#2980b9;
}
.box1{
    background:#8e44ad;
}
.box2{
    background:#2c3e50;
}
.box3{
    background:#8e44ad;
}

footer{
    background:#16a085;
}